### Project specific
build/*
release/
bin/
.cache/
/build*
/.build*
.vscode/
!.vscode/settings.json
/include/config.hpp
### IDE
*.project
*.cproject
*.vim
.idea/
cmake-build-*/

### C++
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.pyd

### CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

### Ninja
.ninja_deps
.ninja_log

### Cython
*.pyc
/cython_debug/*

### JupyterNotebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### MacOS
.DS_Store

### Test data

### TeX
*.bib.bak
*.sav.tmp
main
code/include/config.hpp
test/basic
test/basic[1]_include.cmake
test/basic[1]_tests.cmake
test/intersection
test/intersection[1]_include.cmake
test/intersection[1]_tests.cmake
test/is_edge_inside_polygon_test
test/is_edge_inside_polygon_test[1]_include.cmake
test/is_edge_inside_polygon_test[1]_tests.cmake
test/sortingPolygonsTest
test/sortingPolygonsTest[1]_include.cmake
test/sortingPolygonsTest[1]_tests.cmake
*.txt